<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Json</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
.main { 
    background-color: #ffcc66; /* Orange */
    color: #ffffff;
    padding-left: 10px;
	padding-right: 0px;
	width: 100%;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a:link {
  color: #EF7D55; 
  border-bottom: 1px dashed; 
}
a:visited {
  color: #EF7D55;
}
</style>
</head>

<body>
<div class="main">
<center>
    <ul>
		{% for name, url in urls.items() %}
		<a href="{{ url }}">{{ name }}</a>
		{% endfor %}
	</ul>
</center>
	<h1>Json</h1>
    <p>
    <p>
    {%for i in content%}
        {{i}}
        <br>
    {%endfor%}
    </p>
    </p>
    </div>
</div>
</body>

</html>