<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>
    <head>
    <meta charset="UTF-8">
     <title>Что вы хотите поискать?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
.main { 
    background-color: #ffcc66; /* Orange */
    color: #ffffff;
    padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   font-size: 20px;
}
.wid{width: 25%;}
a:link {
  color: #EF7D55; 
  border-bottom: 1px dashed; 
}
a:visited {
  color: #EF7D55;
}
</style>
       <title>Что вы хотите поискать?</title>
    </head>
 <body>
 <div class="main">
  <center>
     <ul>
		{% for name, url in urls.items() %}
		<a href="{{ url }}">{{ name }}</a>
		{% endfor %}
	</ul>
    <form class="form-group">
        <p><b>Что вы хотите поискать?</b></p>
        <div class="wid">
        <input type="text" name="search" placeholder="Введите имя или возраст"  class="form-control" maxlength="15"></b><br>
        </div>
        <p><b>Вы так же можете выбрать город:</b></p>
        <p><input type="checkbox" name="city" value="m">Москва<Br>
        <input type="checkbox" name="city" value="s">Санкт-Петербург<Br>
        <input type="checkbox" name="city" value="d">Другой<Br>
        <br>
        <input type="submit" value="Искать" class="btn btn-warning">
    </form>
</div>
</center>
 </body>
 </html>